.terraform.lock.hcl
.terraform/
.tfvars
.terraformrc
terraform.rc
.plan
terraform
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.24.0/windows_386/terraform-provider-aws_v5.24.0_x5.exe
.terraform/terraform.tfstate